@import "../css/mystyle.scss";

::-webkit-scrollbar {
    display: none;
  }
  
  ::scrollbar{
    display: none;
  }
  
  ::-moz-selection { /* Code for Firefox */
    color: #000000;
    background: #ffffff;
  }
  
  ::selection {
    color: #000;
    background: #fff;
  }
  

body{
    font-family: 'Montserrat', sans-serif;
}

#logo {
    filter: invert(1);
    max-width: 15vmax;
    margin: 1.5vmax 0;
    transition: 0.5s all ease;
}

#logo:hover {
    filter: invert(0);
    transform: scale(1.05);
    transition: 0.5s all ease;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin: auto;
}

#grad {
    background-image: linear-gradient(to right, #ff1b44, #9e14c4);
    color: #fff;
}

#subtitle{
    letter-spacing: 0.5vmax;
    margin: 0.5vmax 0;
    font-weight: 500;
}

#icons a{
    margin: 0 1.5vmax;
    color: #fff;
    text-decoration: none;
    font-size: 3vmax;
    transition: 0.5s all ease;
}
#icons a:hover{
    filter: invert(1);
    transform: scale(1.05);
    transition: 0.5s all ease;
}